<link rel="stylesheet" href="/styles/champions.css" class="css">
<div class="champion-container">
    <h1>Champion Lineup</h1>
    <div class="empty">
        <div class="fill" draggable="true"></div>
    </div>
    <div class="empty"></div>
    <div class="empty"></div> <br>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>

    <h2>Owned Champions</h2>

    <h2>Unowned Champions</h2>
</div>
<div class="container info-container">
    <h1>Champion Information</h1>
    <h4 class="selected-champion">Selected champion:</h4>
    
</div>

<script src="/js/champions.js"></script>